path#CA:hover,
path#AU:hover,
path#BR:hover, 
path#AU:hover, 
path#CN:hover, 
path#DE:hover, 
path#GB:hover, 
path#ID:hover, 
path#IT:hover, 
path#JP:hover, 
path#KR:hover, 
path#MX:hover, 
path#RU:hover, 
path#SA:hover, 
path#US:hover, 
path#ZA:hover, 
path#FR:hover  {
  fill: #b6f9fe !important
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
